
body {
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/geography.jpg");
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

/* The appTitle ID controls the "Geogiphy" title properties*/
#appTitle {
    font-size: 50px;
    font-family: 'Michroma', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding-top: 0;
    align-content: center;

}

#tagLine {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    padding: 0;
}

.jumbotron {
    /* Dimmed the opacity to enhance the look  */
    opacity: .87;
    box-shadow: 0 0 10px 2px;
    align-content: center;
    padding-top: 15px;
    width: 100%;
    margin-top: 20px;    
}

#search-label, #searchBtn {
    font-family: 'Michroma', sans-serif;
    align-content: center;
}

.mainContainer {
   /* I chose 65% for the main box as it 
   seemed aesthetically better than spanning 100% of the screen.  
   The min-width property is set to 390px to prevent collapsing or text overflow on smaller devices */
    width: 65%;    
    min-width: 390px;
    display: flex;
    float: left;
   
}

#country-buttons {

    display: grid;
    grid-template-columns: repeat(3, auto) ;
    gap: 7px;
    border-radius: 10px;
    font-family: 'Michroma', sans-serif;
    font-size: .75rem;
    font-weight: bolder;
    
}

/* This default Bootstrap (form-group) class was adjusted such that decreasing the 
bottom margin moved the green search button closer to the Giphy logo */
.form-group {
    margin-bottom: 5px;
}


#button-primary {
    font-weight: 100;
   
}

#choices {
    font-family: 'Michroma', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    gap: 7px;
    border-radius: 10px;
}

#giphyAttr {
 border-radius: 5px;
 margin: 5px 0px ;
 width: 125px;
 
}

/* This is the gifs container.  I gave it an opacity slightly lighter 
than its parent box to make it more of a focal point .  */
.gifsContainer {
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 10px 2px;
    margin-top: 20px;
    height: auto;
    width: 100%;
      
}

/* The gifsPara class contains the placeholder "Awesome Gifs Here" */

.gifsPara {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    padding-top: 10px;
    color:  rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    align-content: center;
    margin: 5px;
}

/* This double selector controls the gifs and the Ratings properties */
.gifs img {
    width: 125px;
    height: auto;
    padding: 0;
    display: inline-block;
    float: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    height: auto;
    align-content: left;
} 

.gifs p {
    margin: 0;
    padding-right: 5px;
    font-family: 'Michroma', sans-serif;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    float: none;
       
}



/* Font families inventory:
font-family: 'Inconsolata', monospace;
font-family: 'Michroma', sans-serif;
font-family: 'Shadows Into Light', cursive; */
