/* Things I want to see:
    Dropdown with all countries names
    Search icon/magnafying glass
    Stylized buttons with the User's selected countries (Done)
    Prepended gifs (Done)
    Margins to separate the gifs (Done)
    Align content to center gifs
    Still Gifs that turn Animated upon clicking Gifs (Done
    */


body {
/* These body properties placed my game in the center of the screen as desired. */
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/geography.jpg");
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

#appTitle {
    font-size: 50px;
    font-family: 'Michroma', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding-top: 0;
    align-content: center;

}

#tagLine {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    padding: 0;
}

.jumbotron {
    /* Dimmed the opacity to enhance the look  */
    opacity: .87;
    box-shadow: 0 0 10px 2px;
    align-content: center;
    padding-top: 15px;
    width: 100%;
    margin-top: 20px;    
}

#search-label, #searchBtn {
    font-family: 'Michroma', sans-serif;
    align-content: center;
}

.mainContainer {
   /* I chose 65% for the main box as it 
   seemed aesthetically better than spanning 100% of the screen.  
   The min-width property is set to 390px to prevent collapsing or text overflow on smaller devices */
    width: 65%;    
    min-width: 390px;
    display: flex;
    float: left;
   
}

#country-buttons {

    display: grid;
    grid-template-columns: repeat(3, auto) ;
    gap: 7px;
    border-radius: 10px;
    font-family: 'Michroma', sans-serif;
    font-size: .75rem;
    font-weight: bolder;
    
}


#button-primary {
    font-weight: 100;
   
}

#choices {
    font-family: 'Michroma', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    gap: 7px;
    border-radius: 10px;
}

img {
 border-radius: 5px;
 margin: 5px;
 width: 125px;
 /* height: 125px; */
 

}

.gifsContainer {
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 10px 2px;
    margin-top: 20px;
    height: auto;
    width: 100%;
      
}

.gifsPara {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    padding-top: 10px;
    color:  rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    align-content: center;
    margin: 5px;


}

/* Font families inventory:
font-family: 'Inconsolata', monospace;
font-family: 'Michroma', sans-serif;
font-family: 'Shadows Into Light', cursive; */
